* {
  margin: auto;
  font-family: georgia, serif;
}

/* HAUT DE LA PAGE */
header {
  background-color: #1B5DCF;
  color: #000000;
}

.page_title {
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;

}

.nav_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
}

.nav_menu span {
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  transition-duration: 1s;
}

nav {
  text-align: right;
}

/* QUI SUIS-JE */
.whoami {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.content_whoami {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.informations_whoami p {
  margin-right: 50%;
  position: relative;
}

.point_interest span{
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.point_interest, .contact {
  padding-top: 10px;
}

.contact_content address, .contact_content span{
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.contact_content a {
  margin-left: 0px;
}

.other_content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 105px;
}

.other_content span {
  background-color: #1B5DCF;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
  transition-duration: 1s;
}

img {
  max-width: 220px;
  height: auto;
}

/* PARCOURS */
.career {
  background-color: #1B5DCF;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.informations_career {
  padding-left: 10px;
}

.career_school span, .career_school time{
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.career_school, .career_enterprise {
  padding-top: 10px;
}

.career_enterprise span, .career_enterprise time, .career_enterprise p{
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.school_name, .enterprise_name {
  font-weight: bold;
  padding-top: 10px;
}

.school, .enterprise {
  border: 1px #000000 solid;
  margin-right: 800px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000000;
  background-color: #ffffff;
}

/* COMPETENCES */
.skills {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 30px;

}

.informations_skills {
  display: flex;
  flex-direction: row;
}

.hard_skill, .soft_skill {
  border: 1px #000000 solid;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 10px;
  background-color: #1B5DCF;
}

.hard_skill, .soft_skill, .hard_skill_content, .soft_skill_content {
  display: flex;
  flex-direction: column;
}

progress {
  border-radius: 14px;
}

progress::-moz-progress-bar {
  border-radius: 12px;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  background: #1B5DCF;
  animation: change-color 3s ease infinite;
}

/* PROJETS */
.project {
  background-color: #1B5DCF;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.project_list {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.project_content {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px #000000 solid;
  padding: 10px;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 10px;
  background-color: #ffffff;
}

.project_name {
  font-weight: bold;
}

/* KEYFRAME */
@keyframes change-color {
  0% {
    background: #1B5DCF;
  }

  50% {
    background: #000000;
  }
}

/* TRANSITION */
.other_content span:hover{
  background-color: #000000;
  color: #ffffff;
}

.nav_menu span:hover, .nav_menu a:hover{
  border: 1px #000000 solid;
  background-color: #000000;
  text-decoration-color: #ffffff;
}

/* PSEUDO-ELEMENT */
.text_black a:link, .text_black a:visited, .project_link a:link, .project_link a:visited {
  color: #000000;
}

.text_white a:link, .text_white a:visited {
  color: #ffffff;
}

/* mise en place du responsive de la page */
@media screen and (max-width: 1384px){
  .enterprise, .school{
    margin-right: 600px;
  }
}

@media screen and (max-width: 1188px){
  .enterprise, .school{
    margin-right: 400px;
  }
}

@media screen and (max-width: 912px){
  .page_title {
    font-size: 40px;
  }

  .enterprise, .school{
    margin-right: 200px;
  }
}

@media screen and (max-width: 860px){
  .content_whoami{
    flex-direction: column;
  }

  .other_content {
    padding-top: 10px;
  }
}

@media screen and (max-width: 722px){
  .project_list{
    flex-direction: column;
  }
}

@media screen and (max-width: 588px){
  .enterprise, .school{
    margin-right: 50px;
  }
}

@media screen and (max-width: 552px){
  .informations_whoami p {
    margin-right: 30%;
  }
}
